{% extends "base.html" %} {% load static %}
<!-- 写入 base.html 中定义的 title -->
{% block title %} 记账单 {% endblock title %}
{% block content %}

<div class="container">
    <div class="'row">
        <div class="col-12">
            <br>
            <form 
            method="post" 
            action="{% url 'private_info:financial_create' %}"
            enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="expense_item">条款</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text">📒</span>
                    <input type="text" class="form-control" id="expense_item" name="expense_item">
                </div></div>
                <div class="form-group">
                    <label for="expense_time">时间</label>
                    <div class="input-group has-validation">
                    <span class="input-group-text">🕒</span>
                    <input type="datetime-local" class="form-control" id="expense_time" name="expense_time"
                    value={{ current_time }}>
                </div></div>
                <div class="form-group">
                    <label for="total_income">收入</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text">✅</span>
                    <input type="text" class="form-control" id="total_income" name="total_income">
                </div></div>
                <div class="form-group">
                    <label for="expense_amount">开支</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text">⭕</span>
                    <input type="text" class="form-control" id="expense_amount" name="expense_amount">
                </div></div>
                <button type="submit" class="btn btn-primary">完成</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}